$primary: #2f4858;
$secondary: #d6d6d6;
$accent: #f7be16;

.body {
  background-color: $primary;
  color: $secondary;
}

// Cards
.card {
  color: $primary;
  .card-body {
    background-color: white;
  }
}

// Buttons
a.btn-secondary,
button.btn-secondary {
  color: $primary;
}

.align-right {
  text-align: right;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

// Imports React Bootstrap utility classes
@import '~bootstrap/scss/bootstrap.scss';
