$primary: #2f4858;
$secondary: #d6d6d6;
$accent: #f7be16;

.body {
  background-color: $primary;
  color: $secondary;
}

// Navbar
.navbar {
  background-color: $accent;
}

// Cards
.card {
  color: $primary;
  .card-body {
    background-color: white;
  }
  .card-header {
    background-color: $accent;
  }
}

// Buttons
a.btn-secondary {
  color: $primary;
}

a.logo {
  color: $primary;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.align-right {
  text-align: right;
}

// Imports React Bootstrap utility classes
@import '~bootstrap/scss/bootstrap.scss';
