$primary: SeaGreen;
$body-bg: Honeydew;

h2 {
  text-align: center;
}

.align-right {
  text-align: right;
}

.form-control {
  background: white;
}
// Imports React Bootstrap utility classes
@import '~bootstrap/scss/bootstrap.scss';
